.rankingDate {
    font-size: 0.8rem;
    text-decoration: underline;
}

.player {
    font-size: 1.8rem;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 3rem;
    height: 3rem;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.tileContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: auto;
}

.title {
    font-size: 1.2rem;
}
