.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    text-align: left;
    font-size: 1.5rem;

    @media (min-width: $mantine-breakpoint-md) {
        flex: 1 0 auto;
    }
}
