.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: inherit
}

.playerInputsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1 0 auto;
    width: inherit;

    @media (min-width: $mantine-breakpoint-md) {
        flex-direction: row;
    }
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: inherit;
}

.versus {
    flex: 1 0 auto;
    text-align: center;
    height: 100%;

    @media (min-width: $mantine-breakpoint-md) {
        width: 20%
    }
}

.playerRankingsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.button {
    width: 100%;
}

.buttonLabel {
    padding-left: 0.5rem;
}
