.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: inherit
}

.titleRow {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: $mantine-breakpoint-md) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.title {
    text-align: left;
    font-size: 1.5rem;

    @media (min-width: $mantine-breakpoint-md) {
        flex: 1 0 auto;
    }
}

.icon {
    vertical-align: text-bottom;
    margin-left: 0.5rem;
}

.playerInputsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1 0 auto;
    width: inherit;

    @media (min-width: $mantine-breakpoint-md) {
        flex-direction: row;
    }
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: inherit;
}

.versus {
    flex: 1 0 auto;
    text-align: center;
    height: 100%;

    @media (min-width: $mantine-breakpoint-md) {
        width: 20%
    }
}

.configuration {
    width: inherit;
}

.playerRankingsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.button {
    width: 100%;
    &>button {
        padding: 0;
    }
    @media (min-width: $mantine-breakpoint-md) {
        width: unset;
        flex: 0 0 auto;
    }
}

.buttonLabel {
    padding-left: 0.5rem;
}
