.container {
    height: 100%;
    width: 100%;

    @media(min-width: $mantine-breakpoint-sm) {
        width: unset;
        flex: 1 0 auto;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

