.tile {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: space-around;

    &.large {
        width: 10rem;
        height: 8rem;
        padding: 0.5rem;
    }

}

.subLevelContainer {
    width: 3rem;
    height: 3rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.small {
        width: 2.6rem;
        height: 2.6rem;
        flex-direction: column;
    }
}

.discipline {
    margin-bottom: 0.5rem;
}

.subLevel {
    font-weight: bold;

    &.large {
        font-size: 1rem;
    }

    &.small {
        font-size: 0.7rem;
    }
}

.ranking {
    font-weight: bold;

    &.large {
        font-size: 1.5rem;
    }

    &.small {
        font-size: 0.8rem;
    }
}

.N1, .N2, .N3 {
    background-color: #f80220;
}

.R4, .R5, .R6 {
    background-color: #4a90e2;
}

.D7, .D8, .D9 {
    background-color: #7ed321;
}

.P10, .P11, .P12 {
    background-color: #f8e71c;
}

.NC {
    background-color: #9b9b9b;
    color: #fbfbfb;
}
