.playerInMatch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: inherit;

    @media(min-width: $mantine-breakpoint-sm) {
        justify-content: center;
        width: 65%
    }

    @media(min-width: $mantine-breakpoint-md) {
        justify-content: space-between;
        width: 100%
    }


}

.playerName {
    flex: 1 1 auto;
    width: 100%;
}

.rankAndClear {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.clearButton {
    height: 18px;
}
