.calculationDetails {
    font-size: 0.8rem;
    padding: -0.5rem;
    font-weight: bold;
}

.player {
    width: 100%;
}

.name {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.points {
    font-weight: bold;
}

.win {
    color: #0BAE4A;
}

.loss {
    color: #f21616;
}
